@import "../../App";

.portfolioCard {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.6s ease-in;
  box-shadow: 0px 5px 20px rgba(0, 191, 150, 0.2);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(1, 139, 109, 0.81) 0%,
      rgba(0, 0, 0, 0.71) 100%
    );
    z-index: 1;
    transform: translateY(-100%);
    transition: all 0.6s ease-in;
  }

  &:hover::after {
    content: "";
    transform: translateY(0);
  }

  div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-white;
    transform: translateY(100%);
    transition: all 0.6s ease-in;
    opacity: 0;
    z-index: 2;

    h3 {
      cursor: default;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    }

    span {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.4rem;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        position: relative;
        transition: all 0.6s;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

        svg {
          font-size: 2rem;
        }
      }

      a:hover {
        color: #11ffcb;
      }
    }
  }

  &:hover div {
    transform: translateY(0);
    opacity: 1;
  }
}
