@import "../../App";

.textArea {
  font-family: inherit;
  // background-color: $bg-input;
  background: none;
  color: #fff;
  padding: 1.2rem;
  padding-left: 3rem;
  border: 1px solid $primary;
  outline: none;
  font-size: 1.6rem;
  resize: none;
  transition: all 0.3s ease-in;
  background-color: $bg-input;
  box-shadow: 0px 5px 50px rgba(0, 191, 150, 0.1);

  &:focus {
    outline: 1px solid $primary;
  }

  &.error {
    border: 1px solid #e02731;
    background-color: #e0273015;
    transition: all 0.3s ease-in;

    &:focus {
      outline: 1px solid #e02731;
    }
  }
}
