@import "../../App";

.home {
  width: 100%;
  min-height: calc(100vh - 9.6rem);
  background: url("../../assets/home-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4rem 0;

    .left {
      // margin-top: 9.8rem;
      flex: 1;

      small {
        text-transform: uppercase;
        color: $text-white;
        margin-bottom: -0.5rem;
        display: block;
      }

      h1 {
        color: $primary;
        font-size: 6.8rem;
      }

      h3 {
        color: rgba(255, 255, 255, 0.9);
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 3rem;
      }

      p {
        color: $text-para;
        width: 80%;
        margin-bottom: 4rem;
      }

      .link {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all 0.3s;

        svg {
          color: $primary;
          font-size: 2.2rem;
        }

        &:hover {
          gap: 1.6rem;
        }
      }

      .social-links {
        color: #ffffffcc;
        margin-top: 6rem;
        display: flex;
        align-items: center;
        gap: 2.6rem;

        span {
          display: flex;
          align-items: center;
          gap: 2rem;
        }
      }
    }

    .right {
      flex: 1;
      // display: flex;
      // justify-content: center;
      // align-items: center;

      img {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .home {
    .container {
      .left {
        h1 {
          font-size: 5rem;
        }

        h3 {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .home {
    // min-height: 100vh;

    .container {
      display: flex;
      flex-direction: column-reverse;

      .left {
        p {
          width: 100%;
        }

        .social-links {
          display: flex;
          justify-content: center;
          .label {
            display: none;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 60%;
        }
      }
    }
  }
}
