@import "../../App";

.button-filled {
  background-color: $primary;
  padding: 1.2rem 3.2rem;
  font-weight: 500;
  font-size: 1.8rem;
  box-shadow: 0px 5px 50px rgba(0, 191, 150, 0.5);
  transition: all 0.3s;
  border: none;
  outline: none;

  &:hover {
    background-color: hsl(167, 100%, 27%);
  }
}

@media screen and (max-width: 600px) {
  .button-filled {
    width: 100%;
  }
}
