@import "../../App";

.button {
  font-weight: 700;
  color: $primary;
  border: 1px solid $primary;
  padding: 1.8rem 3.4rem;
  font-size: 1.8rem;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  outline: none;

  span {
    z-index: 1;
  }

  &::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    background-color: $primary;
    top: 0rem;
    left: 0rem;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    color: #fff;
  }

  &:hover::before {
    content: "";
    width: 101%;
    height: 100%;
    position: absolute;
  }
}
