@import "../../App";

.footer {
  // background-color: $bg-secondary;
  padding: 9rem 0;
  overflow: hidden;

  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(23, 28, 34, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);

  .container {
    .top {
      display: grid;
      grid-template-columns: 25% auto auto auto;
      justify-content: space-between;

      .logo-container {
        .logo {
          display: inline-block;
          font-size: 3.6rem;
          margin-bottom: 0.8rem;
        }
        p {
          color: $text-footer;
          font-size: 1.4rem;
          line-height: 1.4;
        }
      }

      .footer-links {
        // justify-self: center;
        h3 {
          color: $text-white;
          margin-bottom: 2rem;
        }

        ul li {
          margin-bottom: 1rem;

          a:link,
          a:visited {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: $text-footer;
            gap: 0.5rem;
            transition: all 0.3s;

            > svg {
              font-size: 2rem;
            }
          }

          a:hover,
          a:active {
            color: $primary;
          }
        }
      }
    }

    .bottom {
      margin-top: 4rem;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
      }

      p {
        color: $text-white;
        text-align: center;
        margin-top: 2.6rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer .container .top .logo-container {
    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 6rem 0;

    .container .top {
      grid-template-columns: 50% auto;
      gap: 3rem;

      .logo-container {
        p {
          font-size: 1.4rem;
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .footer {
    .container .top {
      grid-template-columns: 1fr;
      gap: 3rem;
      text-align: center;

      .footer-links {
        h3 {
          font-size: 2.4rem;
          margin-bottom: 1rem;
        }

        ul > li {
          a {
            justify-content: center;
            // text-decoration: underline;

            svg {
              display: none;
            }
          }
        }

        &.questions {
          ul > li > a > svg {
            display: initial;
          }
        }
      }
      .logo-container {
        p {
          font-size: 1.4rem;
          width: 100%;
        }
      }
    }
  }
}
