.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("../../assets/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .clip {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .boxs span {
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: #18191f;
    box-shadow: 0 0 50px #00bf96, 0 0 100px #00bf96, 0 0 150px #00bf96,
      0 0 200px #00bf96;
    animation: animate 12s linear infinite;

    &:nth-child(1) {
      left: 60px;
      animation-delay: 0.6;
    }

    &:nth-child(2) {
      left: 10%;
      animation-delay: 3s;
      width: 60px;
      height: 60px;

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    &:nth-child(3) {
      left: 20%;
      animation-delay: 2s;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    &:nth-child(4) {
      left: 30%;
      animation-delay: 5s;
      width: 80px;
      height: 80px;
    }

    &:nth-child(5) {
      left: 40%;
      animation-delay: 1s;
    }

    &:nth-child(6) {
      left: 50%;
      animation-delay: 7s;
    }

    &:nth-child(7) {
      left: 60%;
      animation-delay: 6s;
      width: 100px;
      height: 100px;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &:nth-child(8) {
      left: 70%;
      animation-delay: 8s;
      @media screen and (max-width: 900px) {
        animation-delay: 6s;
        display: none;
      }
    }

    &:nth-child(9) {
      left: 80%;
      animation-delay: 6s;
      width: 90px;
      height: 90px;

      @media screen and (max-width: 900px) {
        width: 60px;
        height: 60px;
      }
    }

    &:nth-child(10) {
      left: 90%;
      animation-delay: 4s;
      @media screen and (max-width: 650px) {
        display: none;
      }
    }

    @keyframes animate {
      0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

      80% {
        opacity: 0.7;
      }

      100% {
        transform: translate3d(0, -800px, 0) rotate3d(0, 0, 1, 360deg);
        opacity: 0;
      }
    }
  }
}
