@import "../../App";

.contact {
  // height: 100vh;
  padding: 9rem 0;
  overflow: hidden;

  .container {
    height: 100%;
    .top {
      margin-bottom: 4.8rem;

      h2 {
        text-transform: uppercase;
        color: $primary;
        font-size: 5.2rem;
        letter-spacing: 2px;
        margin-bottom: 1rem;
      }

      p {
        color: $text-footer;
      }
    }
    .bottom {
      margin-top: 5rem;

      .form {
        max-width: 70rem;
        margin: 0 auto;

        div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }

        .textarea {
          margin: 2rem 0;
          width: 100%;
          display: block;
          height: 20rem;
        }

        .submit-btn {
          border-radius: 15px;
          padding: 1.2rem 3rem;
          background-color: $bg-input;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 6rem 0;
    .container .bottom .form {
      div {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
