@import "../../App";

.skills {
  background: $bg-secondary;
  height: 100vh;
  // min-height: 100vh;
  padding: 9rem 0;
  overflow: hidden;

  .container {
    height: 100%;

    .top {
      margin-bottom: 4.8rem;

      h2 {
        text-transform: uppercase;
        color: $primary;
        font-size: 5.2rem;
        letter-spacing: 2px;
        margin-bottom: 1rem;
      }

      p {
        color: $text-footer;
      }
    }

    .bottom {
      height: 90%;
      display: grid;
      grid-template-columns: repeat(6, auto);
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 912px) {
  .skills {
    height: max-content;

    .container {
      .bottom {
        grid-template-columns: repeat(5, auto);
        row-gap: 4rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    padding: 6rem 0;
    .container {
      .bottom {
        grid-template-columns: repeat(4, auto);
        row-gap: 2rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .skills {
    min-height: 100vh;
    .container {
      .bottom {
        grid-template-columns: repeat(3, auto);
      }
    }
  }
}
